<a href="https://colab.research.google.com/github/VellummyilumVinoth/Sentiment_Analysis/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset description

IMDB dataset having 50K movie reviews for natural language processing or Text analytics.
This is a dataset for binary sentiment classification containing substantially more data than previous benchmark datasets. We provide a set of 25,000 highly polar movie reviews for training and 25,000 for testing. So, predict the number of positive and negative reviews using either classification or deep learning algorithms.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('/content/IMDB Dataset.csv')

In [14]:
# first 5 rows
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [15]:
# last 5 rows
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [7]:
# find columns in the dataset
data.columns

Index(['review', 'sentiment'], dtype='object')

In [8]:
# find the shape of the data(rows, columns)
data.shape

(50000, 2)

In [9]:
# description of the data
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [13]:
# check any null values or outliers in the dataset
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [12]:
# count the null values or outliers in the dataset
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [17]:
# calculate positive and negative feedback in the dataset
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

# Text normalization

## Tokenization